/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://st2.depositphotos.com/1526816/10568/v/950/depositphotos_105684878-stock-illustration-two-vets-working-in-the.jpg'); /* Replace 'veterinary-background.jpg' with the path to your desired background image */
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f5f5f5;
}

/* Form Styles */
form {
  margin-top: 20px;
}

input[type='text'],
input[type='date'],
input[type='time'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type='submit'] {
  width: auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #45a049;
}

/* Error Message Styles */
.error-message {
  color: #ff0000;
  margin-top: 10px;
}

/* Success Message Styles */
.success-message {
  color: #008000;
  margin-top: 10px;
}